body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ID  */
#centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CLASSES */

.app {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}
.search {
  width: 50%;
}
table.ui.celled.padded.table {
  width: 70%;
}
.logo {
  width: 40px;
  height: 60px;
}
